/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* 
  Added Kevin Powell CSS Reset too
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* still experimental so might cause errors. If so, replace by line-height in body */
  line-height: calc(1em + 0.5rem);
}

/* Set core root defaults */
html,
body {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  /* line-height: 1.5; */
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* p {
  hyphens: auto;
} */

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
