/* Start */
*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Variables */
:root {
	/* colors */
	--primary-200: rgb(209, 211, 213);
	--primary-700: #232428;
	--primary-800: #1a1c20;
	--primary-900: #161819;
}

/* Global Styles */
html,
body {
	height: 100%;
}

html {
	background-color: var(--primary-800);
}

body {
	color: var(--primary-200);
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	display: grid;
	place-items: center;
}

.outer-container {
	background-color: var(--primary-900);
	border: 15px solid var(--primary-900);
	border-radius: 10px;
	width: 95vw;
	max-width: 450px;
}

.container {
	background-color: var(--primary-700);
	border-radius: 10px;
	padding: 2rem 2.5rem;
}

.text-container {
	margin-bottom: 1.5rem;
}

p {
	max-width: 30ch;
	margin: 0 auto;
}

h3 {
	font-size: 1.75rem;
	font-weight: 600;
	margin-bottom: 1.38rem;
	line-height: 1.2;
}

.img {
	width: 100%;
	display: block;
	object-fit: cover;
}

.image-container {
	width: 100px;
	padding: 10px;
	border-radius: 50%;
	margin: 0 auto 1.38rem;
	background-color: var(--primary-900);
}

/* Buttons */
.btn {
	cursor: pointer;
	color: var(--primary-200);
	background: var(--primary-900);
	border: transparent;
	border-radius: 5px;
	padding: 1rem 1.75rem;
	width: 100%;
	margin: 0 auto;
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	transition: 0.3s all ease-in-out;
}

.fa-solid {
	font-size: 1.25rem;
}

.btn:hover {
	background: var(--primary-200);
	color: var(--primary-900);
}
