/* Start */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Variables */
:root {
	/* colors */
	--clr-primary-100: #ffffff;
	--clr-primary-200: #f6f4fe;
	--clr-primary-800: #211c39;
	--clr-primary-900: #16112a;

	--max-width: 1110px;
	--container-padding: 1rem;
}

/* Global Styles */
html,
body {
	height: 100%;
}

html {
	background-color: var(--clr-primary-900);
}

body {
	display: grid;
	place-items: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--clr-primary-900);
}

h4 {
	font-size: 1.5rem;
	margin-bottom: 0.75rem;
	font-family: var(--headingFont);
	font-weight: 600;
	line-height: 1.2;
	text-transform: capitalize;
}

p:not(.secondary-container p) {
	max-width: 25ch;
}

.img {
	width: 100%;
	display: block;
	object-fit: cover;
}

.container {
	background-color: var(--clr-primary-100);
	border-radius: 15px;
	padding: 2rem;
	width: min(var(--max-width), 100% - (var(--container-padding) * 2));
	margin-inline: auto;
}

.cards-container {
	margin-bottom: 1.5rem;
}

.card-container {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	align-items: center;
	text-align: center;
	margin-block: 2rem;
}

.card-icon {
	width: 35px;
	border-radius: 50%;
	aspect-ratio: 1;
	border: 3px solid blue;
	display: flex;
}

[data-color='color-01'] {
	border: 3px solid #e473d1;
}
[data-color='color-02'] {
	border: 3px solid #88d1fa;
}
[data-color='color-03'] {
	border: 3px solid #6b81ec;
}
[data-color='color-04'] {
	border: 3px solid #f3bf7b;
}

.card-icon i {
	margin: auto;
}

.secondary-container {
	border: 1px solid var(--clr-primary-200);
	border-radius: 15px;
	overflow: hidden;
	flex-basis: 250px;
}

@media (min-width: 40em) {
	.card-container {
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		text-align: left;
	}

	.flex {
		display: flex;
		gap: 2rem;
	}

	.flex > * {
		width: 50%;
	}

	.cards-container {
		width: 75%;
	}

	.secondary-container {
		width: 25%;
	}

	.card-icon {
		flex-shrink: 0;
	}
}

/* Modal Button */

.close-modal-btn-container {
	text-align: right;
	margin-bottom: 1.5rem;
}

.modal-close-btn {
	cursor: pointer;
	background-color: transparent;
	border: none;
	font-weight: 700;
	color: var(--clr-primary-900);
	transition: 0.3s ease-in-out;
}

.modal-close-btn:hover {
	color: var(--clr-primary-800);
}

.modal-open-btn {
	display: none;
}

.btn {
	background-color: var(--clr-primary-200);
	border: none;
	border-radius: 15px;
	padding: 0.375rem 0.75rem;
}

/* Utility Classes */

.padding-400 {
	padding: 1rem;
}

.padding-500 {
	padding: 1.5rem;
}
