/* Start */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Variables */
:root {
	/* colors */
	--white-200: #fdfdfd;
	--white-300: #fafafa;
	--gallery: #eeeeee;
	--aqua-haze: #eff3f6;
	--catskill-white: #f9fbfc;
	--athens-gray: #e5e8ee;
	--santas-gray: #a5a5b6;
	--mako: #44474e;

	--clr-neutral-100: #ffffff;
	--clr-neutral-900: #000;

	--clr-primary-300: #eff2f6;
	--clr-primary-500: #9ca3b1;
	--clr-primary-600: #6b7584;
	--clr-primary-900: #131925;

	--clr-blue-200: #ebf4fc;
	--clr-blue-900: #267493;

	--clr-red-300: #fcd6cf;
	--clr-red-500: #e55952;
	--clr-red-900: #c4342e;

	--albescent-white: #f4ebca;

	/* box shadow */
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);

	/* --ff-serif: ; */
	--ff-sans-serif: 'Inter', sans-serif;
}

/* Global Styles */
html {
	background-color: var(--clr-neutral-100);
}

body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	font-family: var(--ff-sans-serif);
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--clr-primary-900);
}

.container {
	width: min(95vw, 1140px);
}

.wrapper {
	max-width: 50rem;
	margin-inline: auto;
}

.img {
	max-width: 100%;
	object-fit: cover;
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--clr-neutral-900);
}

/* Featured Products */
.featured-products {
	background-color: var(--clr-blue-200);
	text-align: center;
	padding-block: 6rem;
}

.text-container {
	margin-bottom: 4rem;
}

.text-container h2 {
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.products-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.products-images {
	display: grid;
	grid-template-columns: repeat(3, 10rem);
	gap: 1.5rem;
}

.product-image {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--clr-neutral-100);
	width: 10rem;
	height: 10rem;
	border: 0.19rem solid transparent;
	transition: all 0.3s ease-in-out;
	position: relative;
}

.product-image img {
	max-height: 5.5rem;
}

.product-image:hover,
.product-image:active {
	cursor: pointer;
	border-color: var(--clr-blue-900);
}

.product-card {
	display: grid;
	grid-template-columns: repeat(2, 20rem);
	gap: 2.5rem;
	margin-top: 4rem;
	position: relative;
}

.product-img {
	background-color: var(--clr-neutral-100);
	width: 20rem;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-img img {
	height: 11.5rem;
	width: auto;
}

.product-text {
	display: flex;
	flex-direction: column;
	align-items: start;
	text-align: left;
	gap: 0.25rem;
}

.product-name {
	font-weight: 500;
	text-transform: capitalize;
}

.product-rating .icon-tabler {
	stroke: #ffcb66;
	fill: #ffcb66;
	width: 1.5rem;
}

.product-price {
	font-weight: 600;
	font-size: 1.25rem;
}

.product-blob {
	color: var(--clr-primary-600);
}

/* .product-price span[data-discount] {
	font-size: 0.7rem;
	color: var(--mako);
	font-weight: 400;
	text-decoration: line-through;
} */

/* Recurring decorations */

p[data-new],
p[data-discount] {
	position: absolute;
	z-index: 1;
	inset: 0;
	color: var(--clr-neutral-100);
	background-color: var(--clr-red-500);
	width: max-content;
	height: max-content;
	text-transform: uppercase;
	padding: 0.25rem;
	font-size: 0.7rem;
}

p[data-new] {
	background-color: var(--clr-blue-900);
}

/* Buttons */

.btn {
	cursor: pointer;
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--shark);
	transition: all linear 0.3s;
}

.primary-btn {
	background-color: var(--clr-blue-900);
	color: var(--clr-neutral-100);
	padding: 0.5rem 1.25rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-top: 0.5rem;
	align-self: center;
}

.primary-btn[data-rounded] {
	border-radius: 50vw;
}

.primary-btn .icon-tabler {
	stroke: var(--clr-neutral-100);
	width: 1rem;
	stroke-width: 2;
}

.primary-btn:hover {
	box-shadow: var(--shadow-3);
	border: 1px solid var(--clr-red-500);
	background-color: var(--clr-red-500);
}

.product-card .primary-btn {
	margin-top: auto;
	align-self: start;
	padding: 0.6rem 0.8rem;
	font-size: 0.875rem;
	font-weight: 500;
}
