/* Start */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Variables */
:root {
	/* colors */
	--white-200: #fdfdfd;
	--white-300: #fafafa;
	--gallery: #eeeeee;
	--aqua-haze: #eff3f6;
	--catskill-white: #f9fbfc;
	--athens-gray: #e5e8ee;
	--santas-gray: #a5a5b6;
	--mako: #44474e;

	--clr-primary-300: #eff2f6;
	--clr-primary-500: #9ca3b1;
	--clr-primary-900: #131925;

	--clr-neutral-100: #ffffff;
	--clr-neutral-900: #000;

	--clr-red-300: #fcd6cf;
	--clr-red-500: #e55952;

	--albescent-white: #f4ebca;
	--persian-red: #c4342e;

	--jelly-bean: #267493;

	/* box shadow */
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);

	/* --ff-serif: ; */
	--ff-sans-serif: 'Inter', sans-serif;
}

/* Global Styles */
html {
	background-color: var(--jelly-bean);
}

body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	font-family: var(--ff-sans-serif);
	font-weight: 400;
	font-size: 0.9rem;
	line-height: 1.5;
	color: var(--clr-primary-900);
}

.container {
	width: min(95vw, 1140px);
}

.img {
	max-width: 100%;
	object-fit: cover;
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--clr-neutral-900);
}

.discount-coupon {
	background-color: var(--clr-red-300);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem;
}

.discount-text {
	text-align: center;
	font-size: 0.875rem;
	margin-right: auto;
	width: 100%;
}

.discount-coupon .close-btn {
	align-self: end;
	display: flex;
	justify-content: center;
}

.discount-coupon .close-btn .icon-tabler {
	width: 0.8rem;
	stroke-width: 3;
}

.main-header {
	background-color: var(--clr-neutral-100);
	display: grid;
	grid-template-columns: 150px 1fr 1fr;
	padding: 0.75rem 4rem;
	grid-template-areas: 'logo search nav';
}

.form-control {
	grid-area: search;
	max-width: 100%;
	position: relative;
}

.form-control input {
	background-color: var(--clr-primary-300);
	border: transparent;
	border-radius: 50px;
	width: 50%;
	padding: 0.75rem 0.75rem 0.75rem 3rem;
	transition: all linear 0.5s;
}

.form-control input:focus {
	width: 100%;
}

.form-control input::placeholder {
	color: var(--clr-primary-500);
	font-weight: 500;
	font-size: 1rem;
}

.form-control input:focus::placeholder {
	color: transparent;
}

.form-control button {
	background: transparent;
	height: 100%;
	aspect-ratio: 1/1;
	position: absolute;
	top: 0;
	left: 0.25rem;
}

.shop-logo {
	font-size: 1.5rem;
	font-weight: 600;
	grid-area: logo;
	display: flex;
	align-items: center;
	user-select: none;
}

nav {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 3rem;
}

.primary-navigation {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	grid-area: nav;
}

.shopping-cart {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.cart-count {
	position: absolute;
	background-color: var(--clr-red-500);
	color: var(--clr-neutral-100);
	font-size: 0.75rem;
	text-align: center;
	font-weight: 500;
	width: 1.25rem;
	height: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	top: -0.25rem;
	right: -0.5rem;
}

/* Buttons */

.btn {
	cursor: pointer;
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--clr-primary-900);
	transition: all linear 0.3s;
}

.form-control .btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/* Icons */

.icon-tabler {
	stroke: var(--clr-primary-900);
	width: 1.5rem;
	height: 1.5rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
