/* Start */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Variables */
:root {
	/* colors */
	--clr-primary-100: #e7eeff;
	--clr-primary-400: #8e9eff;
	--clr-primary-500: #8190e7;
	--clr-primary-600: #808ce1;
	--clr-primary-700: #808ce1;
	--clr-primary-720: #4e5078;
	--clr-primary-750: #393a5e;
	--clr-primary-800: #272a46;
	--clr-primary-900: #1d1f34;

	--clr-accent-300: #79c3ec;
	--clr-accent-400: #77ade9;
	--clr-accent-500: #f5a623;

	/* rest of colors */
	--clr-neutral-100: hsla(0, 0%, 100%, 1);
	--clr-neutral-150: hsla(0, 0%, 100%, 0.5);
	--clr-neutral-900: #222;

	/* box shadow */
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Global Styles */
html {
	background-color: var(--clr-accent-400);
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-weight: 400;
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
	color: var(--clr-neutral-900);
	text-align: left;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 400px));
	row-gap: 1.5rem;
	margin-inline: auto;
	padding-inline: 1rem;
	margin-block: 1rem;
}

.container {
	background-color: var(--clr-primary-900);
	border-radius: 1rem;
	box-shadow: var(--shadow-2);
	overflow: hidden;
}

h1,
h3 {
	margin: 0;
	font-weight: 400;
	line-height: 1.3;
	text-wrap: balance;
	text-transform: capitalize;
	color: var(--clr-accent-300);
}

h1 {
	margin-top: 0;
	font-size: 1.9rem;
	text-align: center;
}

h3 {
	font-size: 1.2rem;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

a:hover,
a:focus {
	color: var(--clr-accent-500);
}

.img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

header {
	background-color: var(--clr-primary-800);
	padding: 1rem;
}

.primary-navigation {
	display: grid;
	grid-template-columns: 45px 1fr;
	align-items: center;
}

.search-container {
	padding: 1rem;
	background-color: var(--clr-primary-900);
}

.search-container input {
	width: 100%;
	border-radius: 50vw;
	padding: 0.75rem 1.5rem;
	color: var(--clr-neutral-150);
	font-weight: 400;
	font-size: 1.25rem;
	border: 2px solid var(--clr-primary-720);
	background-color: var(--clr-primary-900);
	outline: none;
}

.search-container input:focus,
.search-container input:active {
	border-color: var(--clr-accent-500);
	color: var(--clr-accent-500);
}

.movie-cards-container {
	padding: 1rem;
}

.movie-cards {
	display: grid;
	grid-template-columns: repeat(4, 150px);
	gap: 0.75rem;
	overflow: scroll;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.movie-cards::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.movie-card {
	cursor: pointer;
	background-color: var(--clr-primary-800);
	box-shadow: var(--shadow-2);
	color: var(--clr-primary-100);
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	overflow: hidden;
}

.movie-card .poster {
	width: 150px;
	height: 210px;
}

.movie-card p {
	line-height: 1.2;
	font-size: 0.875rem;
}

/* Selected Movie */
.selected-movie-container {
  padding: 1rem;
}

.selected-movie-container .movie-card {
  background-color: var(--clr-primary-100);
  border-radius: 15px;
}

/* Buttons */
.button {
	cursor: pointer;
	color: var(--clr-neutral-900);
	background: transparent;
	border: transparent;
	text-transform: capitalize;
	display: inline-block;
	transition: all ease-in 0.3s;
}

.button[data-type='main'] {
	background-color: var(--clr-primary-400);
	margin: 0 auto;
	border-radius: 50vw;
	color: var(--clr-primary-100);
	padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
	width: 100%;
}

.button[data-type='naked'] {
	border: 2px solid var(--clr-primary-720);
	border-radius: 100%;
	color: var(--clr-primary-720);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	font-size: 1.25rem;
}

.button[data-type='naked']:hover,
.button[data-type='naked']:focus {
	color: var(--clr-accent-500);
	border-color: var(--clr-accent-500);
}

/* Utilities */

.clr-primary-700 {
	color: var(--clr-primary-700);
}

.flex-row-sb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-row-sb-ab {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.flex-row {
	display: flex;
	align-items: center;
}

.margin-right-auto {
	margin-right: auto;
}

.margin-bottom-8 {
	margin-bottom: 0.5rem;
}

.margin-bottom-12 {
	margin-bottom: 0.75rem;
}

.margin-left-8 {
	margin-left: 0.5rem;
}

.padding-8 {
	padding: 0.5rem;
}

.padding-16 {
	padding: 1rem;
}

.height-3 {
	height: 3rem;
}
