*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Variables */
:root {
	/* colors */
	--primary-100: rgb(242, 234, 225);
	--primary-200: rgb(225, 206, 185);
	--primary-300: rgb(192, 175, 158);
	--primary-400: rgb(167, 152, 139);
	--primary-500: rgb(157, 125, 98);
	--primary-900: rgb(78, 72, 70);

	--grey-100: rgb(197, 188, 181);
	--grey-900: rgb(170, 173, 173);

	/* rest of colors */
	--black: #222;
	--white: #fff;
	--accent-color: rgb(210, 100, 77);

	/* box shadow */
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);

	/* rest of the vars */
	--backgroundColor: var(--primary-100);
	--textColor: var(--black);
	--borderRadius: 0.25rem;
	--letterSpacing: 1px;
	--transition: 0.3s ease-in-out all;
	--max-width: 1120px;
	--fixed-width: 800px;
}

/* Global Styles */
html,
body {
	height: 100%;
}

html {
	background-color: var(--primary-100);
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	color: var(--textColor);
	display: grid;
	place-items: center;
	text-align: center;
}

.container {
	width: min(90%, var(--fixed-width));
	background-color: var(--white);
	border-radius: 0.625rem;
	box-shadow: var(--shadow-3);
	padding: 5rem;
}

h3 {
	margin: 0;
	font-weight: 700;
	line-height: 1.3;
	font-size: 1.25rem;
}

ul {
	list-style: none;
	padding: 0;
}

.primary-navigation {
	display: flex;
	gap: 3.75rem;
	justify-content: center;
}

a {
	text-decoration: none;
	color: var(--grey-900);
	font-weight: 400;
}

a:hover {
	background-color: var(--primary-100);
	color: var(--primary-900);
	padding: 10px 25px;
}

img {
	width: 100%;
	display: block;
	object-fit: cover;
}

/* Buttons */
.btn {
	cursor: pointer;
	color: var(--white);
	background: var(--accent-color);
	border: transparent;
	border-radius: var(--borderRadius);
	padding: 1rem 2rem;
	box-shadow: var(--shadow-1);
	transition: var(--transition);
	display: inline-block;
	margin-top: 2rem;
	font-weight: 500;
	font-size: 1rem;
}

.btn:hover,
.btn:active {
	background: var(--primary-900);
	box-shadow: var(--shadow-3);
}

/* Carousel */

.carousel {
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	gap: 1rem;
}

.carousel-item {
	border-radius: 0.5rem;
	border: 1px solid var(--grey-100);
	overflow: hidden;
}

.carousel-item img {
	width: 100%;
	height: 175px;
}

.carousel-text {
	padding: 1.25em;
}
