/* Start */

*,
::after,
::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Variables */
:root {
	/* colors */
	--primary-100: #d5dcea;
	--primary-700: #31384e;
	--primary-800: #1a223a;
	--primary-900: #11192f;

	--accent-500: hsl(169, 76%, 57%);
}

/* Global Styles */
html {
	background-color: var(--primary-800);
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family: 'Instrument Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--primary-100);
}

@media (max-width: 20em) {
	body {
		font-size: 0.9rem;
	}
}

.wrapper {
	width: min(95vw, 700px);
	background-color: var(--primary-900);
	padding-block: 3em;
}

.container {
	width: 80%;
	margin-inline: auto;
}

p {
	margin-bottom: 1rem;
	max-width: 40em;
}

.succes {
	background-color: hsl(169 76% 57% / 0.2);
	border: 0.5px solid var(--accent-500);
	padding: 0.5em 1em;
	border-radius: 25px;
	text-transform: uppercase;
	color: var(--accent-500);
	font-size: 0.75rem;
	letter-spacing: 1.2px;
	margin-bottom: 1.5rem;
	display: inline-block;
	text-align: center;
}

.countdown {
	font-weight: 700;
	background-color: var(--primary-700);
	padding: 0.25em 0.5em;
	letter-spacing: 1px;
}

.text-container {
	background-color: var(--primary-700);
	padding: 0.75em 1.25em;
}

.text-container p:first-of-type {
	font-size: 0.875rem;
}

.text-container p:last-of-type {
	margin-bottom: 0;
}

.text-container[data-size='small'] {
	padding: 1em 1.25em;
	margin: 1em 0;
}

.text-container[data-size='small'] p {
	margin-bottom: 0;
}

i {
	margin-right: 0.75em;
}

p em {
	font-style: italic;
}

@media (min-width: 30em) {
	.text-container,
	.text-container[data-size='small'] {
		padding: 2em 3em;
	}
}
