/* Start */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Variables */
:root {
	/* colors */
	--clr-primary-100: #e0deff;
	--clr-primary-200: #c1beff;
	--clr-primary-300: #a29dff;
	--clr-primary-400: #837dff;
	--clr-primary-500: #645cff;
	--clr-primary-600: #504acc;
	--clr-primary-700: #3c3799;
	--clr-primary-800: #282566;
	--clr-primary-900: #141233;

	--clr-accent-500: #7dd322;

	/* rest of colors */
	--clr-neutral-100: #fff;
	--clr-neutral-900: #222;

	/* box shadow */
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Global Styles */
html,
body {
	height: 100%;
}

html {
	background-image: linear-gradient(
		145deg,
		rgba(100, 92, 255, 1) 50%,
		rgba(60, 55, 153, 1) 100%
	);
}

body {
	display: grid;
	place-items: center;
	font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
}

.container {
	min-width: 90vw;
	background-color: var(--clr-neutral-100);
	border-radius: 5px;
	box-shadow: var(--shadow-2);
	padding: 1.75rem;
}

h1 {
	margin-bottom: 1.5rem;
	font-weight: 700;
	text-transform: capitalize;
	font-size: 2.5rem;
}

ul {
	list-style: none;
	padding: 0;
}

.img {
	width: 100%;
	display: block;
	object-fit: cover;
}

.logo-png {
	width: 65%;
	height: auto;
	margin: 0 auto;
}

.logos-container {
	display: grid;
  grid-template-columns: repeat(2, 1fr);
	place-items: center;
	padding-block: 1.5rem 2.5rem;
	border-bottom: 1px solid var(--clr-neutral-900);
	border-top: 1px solid var(--clr-neutral-900);
}

.logo-container {
	padding: 1.5rem;
	transition: all ease-in-out 0.3s;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 0.75rem;
	width: 125px;
	height: 125px;
}

.logo-container:hover {
	scale: 1.1;
	box-shadow: var(--shadow-4);
}

@media (min-width: 40em) {
	.container {
		min-width: unset;
	}

	.logos-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 1fr;
	}
}

/* Buttons */
.btn {
	cursor: pointer;
	color: var(--clr-neutral-100);
	background: var(--clr-primary-500);
	border: transparent;
	border-radius: 5px;
	padding: 0.375rem 0.75rem;
	box-shadow: var(--shadow-1);
	transition: all ease-in-out 0.3s;
	text-transform: uppercase;
}

.btn:hover {
	background: var(--clr-primary-700);
	box-shadow: var(--shadow-3);
}

.add-btn {
	background-color: var(--clr-accent-500);
	color: var(--clr-neutral-100);
}

.main-btn {
	width: 100%;
	margin: 1rem auto 0;
	padding: 1rem;
}
