/* Start */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Variables */
:root {
	/* colors */
	--clr-accent-400: #d03345;

	/* rest of colors */
	--clr-neutral-100: #fff;
	--clr-neutral-150: hsla(0, 0%, 100%, 0.6);
	--clr-neutral-600: #7b7e7d;
	--clr-neutral-900: #222;

	/* box shadow */
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);

	--ff-serif: 'Playfair Display', serif;
	--ff-sans-serif: 'Inter', sans-serif;
}

/* Global Styles */
html {
	background-color: var(--clr-neutral-100);
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-weight: 400;
	line-height: 1.5;
	font-family: var(--ff-sans-serif);
}

.container {
	width: min(100vw, 450px);
	margin: 0 auto;
	padding: 1.5rem;
	background-image: url('forest-fruit-pie.jpg');
	background-position: 30% 75%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}

@media (min-width: 450px) {
	body {
		background-color: var(--clr-accent-400);
	}

	.container {
		margin-block: 2rem;
		min-height: calc(100vh - 4rem);
		box-shadow: var(--shadow-4);
	}
}

h3 {
	margin: 0;
	margin-bottom: 0.5rem;
	font-weight: 400;
	line-height: 1.3;
	text-wrap: balance;
	text-transform: capitalize;
	font-family: var(--ff-serif);
	font-size: 1.9rem;
}

.img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.wrapper {
	margin-left: auto;
	display: flex;
	position: relative;
	max-width: 100%;
}

.wrapper input {
	background-color: var(--clr-neutral-150);
	border: transparent;
	border-radius: 15px;
	padding: 0.5rem 2rem;
	width: 100%;
}

.wrapper button {
	height: 80%;
	aspect-ratio: 1/1;
	position: absolute;
	top: 10%;
	right: 5px;
}

.menu-card {
	margin-inline: auto;
	margin-top: auto;
	text-align: center;
	padding: 1.5rem 2rem 1rem;
	background-color: var(--clr-neutral-100);
	border-radius: 15px;
	box-shadow: var(--shadow-2);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/* Buttons */
.button {
	cursor: pointer;
	color: var(--clr-neutral-900);
	background-color: transparent;
	border: transparent;
	text-transform: capitalize;
	display: inline-block;
	transition: all ease-in 0.3s;
}

.button[data-type='header-btn'] {
	display: grid;
	place-items: center;
	color: var(--clr-accent-400);
}

.button[data-type='header-btn']:hover,
.button[data-type='header-btn']:focus {
	transform: scale(1.3);
}

.button[data-type='action-btn'] {
	margin-block: 2rem 1rem;
	background: var(--clr-accent-400);
	color: var(--clr-neutral-100);
	border-radius: 20px;
	padding: 0.75rem 1.75rem;
	box-shadow: var(--shadow-1);
	font-size: 0.875rem;
}

.button[data-type='action-btn']:hover,
.button[data-type='action-btn']:focus {
	box-shadow: 0 0 20px 2px var(--clr-accent-400);
}

/* Utility */

.clr-acccent-400 {
	color: var(--clr-accent-400);
}

.clr-neutral-600 {
	color: var(--clr-neutral-600);
}

.fw-700 {
	font-weight: 700;
}

.fs-300 {
	font-size: 0.875rem;
}

.fs-400 {
	font-size: 1rem;
}

/* Star Rating */

.menu-rating {
	line-height: 1.1;
}

.rating-container {
	color: var(--clr-accent-400);
}

.rating-container svg:nth-child(1),
.rating-container svg:nth-child(5) {
	transform: translateY(9px);
}

.rating-container svg:nth-child(3) {
	transform: translateY(-5px);
}
